.controlList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.controlItem {
  position: relative;
}

.controlButton {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
}
.createButton,
.updateButton,
.controlButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.createButton img,
.updateButton img,
.controlButton img {
  display: block;
}

.createButton:hover img,
.updateButton:hover img,
.controlButton:hover img {
  opacity: 0.8;
}
