body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 a {
  text-decoration: none;
  color: #333;
  font-size: 2.5em;
}

nav {
  margin-bottom: 20px;
}

nav ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

nav ol li {
  margin-bottom: 10px;
}

nav ol li a {
  text-decoration: none;
  color: #2500dd;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px dashed #c5c5c5;
  display: block;
  transition: border-color 0.3s ease, color 0.3s ease;
}

nav ol li a:hover {
  border-color: #2500dd;
}

main {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #eaeaea;
}
